@model List<UserData>
<title>@Model[0].FirstName @Model[0].LastName</title>
@section NavigationBar
{
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Search">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="AddUser">Add user</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}

@Model[0].FirstName @Model[0].LastName<br>
@Model[0].Address<br>
@Model[0].Email<br>

<a asp-controller="Users" asp-action="RemoveUser" asp-route-userid="@Model[0].UserID">Remove user</a>
<a asp-controller="Users" asp-action="EditUser" asp-route-userId="@Model[0].UserID">Edit user</a>
<table title="Books rented:">
    <tr>
        <th width="150">Title</th>
        <th width="150">Date Rented</th>
        <th width="150">Returned</th>
    </tr>
    <tr>
        @foreach (UserData entry in Model.Where(e=>e.Title!=null))
        {
            <td>@entry.Title</td><td>@entry.DateRented.ToShortDateString()</td><td>@(@entry.ReturnedFlag==1 ? "Yes":"No")</td>
        }
    </tr>
</table>
